## Titanic - Machine Learning from Disaster Competition Data Processsing

In [1]:
# Package Import List 

import pandas as pd 
import numpy as np 
import seaborn as sns 
import matplotlib.pyplot as plt 
from manipulation import titanic_manipulation

In [2]:
# Loading training and test datasets

train = pd.read_csv('../data/train.csv')
test = pd.read_csv('../data/test.csv')

In [5]:
df = titanic_manipulation(train)
df = df.drop(['Pclass', 'Embarked', 'Sex'], axis = 1)

In [6]:
df.head()

,PassengerId,Survived,Age,SibSp,Parch,Fare,Pclass_1,Pclass_2,Pclass_3,Sex_female,Sex_male,Embarked_C,Embarked_Q,Embarked_S
0,1,0,22.0,1,0,7.2500,False,False,True,False,True,False,False,True
1,2,1,38.0,1,0,71.2833,True,False,False,True,False,True,False,False
2,3,1,26.0,0,0,7.9250,False,False,True,True,False,False,False,True
3,4,1,35.0,1,0,53.1000,True,False,False,True,False,False,False,True
4,5,0,35.0,0,0,8.0500,False,False,True,False,True,False,False,True